{% load static %}
{% load vite_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=0.65, maximum-scale=0.65, user-scalable=no" />
  <title>Hive - Game Board</title>

  <!-- React build CSS -->
  <link rel="stylesheet" href="/static/{% vite_asset 'src/main.tsx' 'css' %}">
</head>

<body>
  <div id="root"></div>
  <div id="zoom-root"></div>

  <!-- Pass game context from Django to React -->
  <script>
    window.gameData = {
      gameStateId: "{{ game_state.id }}",
      userId: "{{ user.id }}",
      username: "{{ user.username }}",
      lobbyId: "{{ lobby_id }}",
    };
  </script>

  <!-- React build JS -->
  <script type="module" src="/static/{% vite_asset 'src/main.tsx' 'js' %}"></script>
</body>

</html>